<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>

                            var btn_delete = '<a href="/home/DeleteRateLimiting?id=' + row.TableID + '&order=' + row.OrderNo + '" class="rate-delete btn btn-danger btn-sm" >Delete</a>';