.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 60px;
}

.logContainer {
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.queryContainer {
    flex-shrink: 0;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 60px;
}

.label-col {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	text-align: right !important;
}

table .btn-sm {
    margin-left: 10px;
    margin-right: 10px;
}
