.resultContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:1;
}

.logContainer {
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.queryContainer {
    flex-shrink:0;
}
