<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net"/>
  </configSections>
  <appSettings>
    <add key="iisLogApiUrl" value="http://192.168.0.30:8221/api/values"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppenderByDate" />
    </root>
    <!--按日期分割日志文件 一天一个-->
    <appender name="FileAppenderByDate" type="log4net.Appender.RollingFileAppender" >
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--存储文件夹-->
      <param name="File" value="Log/" />
      <!--文件名，根据日期来自动生成-->
      <param name="DatePattern" value="&quot;ClientLog&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--内容记录格式-->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />OK
      </layout>
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
