@{

}
@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())

<div style="width: 600px; margin-top: 20px; margin-left: 40px;">
    <ol class="breadcrumb">
        <li><a href="~/Home/RateLimitingList">Rate Limiting Rule Manage</a></li>
        <li class="active">Add</li>
    </ol>
    <div class="row form-group">
        <label class="col-md-4 label-col">Period</label>
        <div class="col-md-8 ">
            <input class="form-control" id="period-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 label-col">Threshold</label>
        <div class="col-md-8 ">
            <input class="form-control" id="threshold-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 label-col">URL</label>
        <div class="col-md-8 ">
            <input class="form-control" id="threshold-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 label-col">Enlargement Factor</label>
        <div class="col-md-8 ">
            <input class="form-control" id="ratio-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Trigger Number</label>
        <div class="col-md-8 ">
            <input class="form-control" id="number-value" type="text" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4 text-right">
            <button class="btn btn-primary ">Save</button>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>


