@{
    
}
@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div style="width: 500px; margin-top: 20px; margin-left: 40px;">
    <ol class="breadcrumb">
        <li><a href="~/Home/WhiteList">Whitelist Manage</a></li>
        <li class="active">Add</li>
    </ol>
    <div class="row form-group">
        <div class="col-md-4 label-col">
            <label for="ip-content">IP</label>
        </div>
        <div class="col-md-8">
            <textarea id="ip-content" class="form-control" style="height: 400px;"></textarea>
        </div>

    </div>
    <div class="row form-group">
        <label class="col-md-4 label-col">Verification Code</label>
        <div class="col-md-8 ">
            <input class="form-control" id="vcode-content" type="text"/>
        </div>        
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4 text-right">
            <button class="btn btn-primary ">Save</button>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>
