@{

}
@Styles.Render("~/Content/home.css")
<div style="width: 500px;margin-top: 20px; margin-left: 40px;" class="form-horizontal">
    <div class="row form-group">
        <label class="col-md-4 control-label">Zone ID</label>
        <div class="col-md-8 ">
            <input class="form-control" id="ZoneID-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Zone Name</label>
        <div class="col-md-8 ">
            <input class="form-control" id="zoneName-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Auth Emaile</label>
        <div class="col-md-8 ">
            <input class="form-control" id="authEmaile-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Auth KEY</label>
        <div class="col-md-8 ">
            <input class="form-control" id="authKey-value" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <div class="checkbox col-md-4 col-md-offset-4">
            <label>
                <input type="checkbox" id="ifTest" name="ifTest" /> If Test
            </label>
        </div> 
    </div>
    <div class="row form-group">
        <button class="btn btn-primary col-md-2 col-md-offset-4">Save</button>
        <button class="btn btn-default col-md-2 col-md-offset-1">Cancel</button>
    </div>
</div>



