
@{
    //Layout = "~/";
}

@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div class="logContainer">
    <div class="queryContainer">

        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="select-zoneName">Zone Name</label>
            </div>
            <div class="col-md-8">
                <select id="select-zoneName" class="form-control">
                    <option>Ent.comm100.com</option>
                    <option>Hosted.comm100.com</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="txt-StartTime">Start Time</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="startTime" id="txt-StartTime" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4  label-col">
                <label for="txt-EndTime">End Time</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="endTime" id="txt-EndTime" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4  label-col">
                <label for="txt-logType">Log Type</label>
            </div>
            <div class="col-md-8">
                <select id="select-logType" class="form-control">
                    <option>App</option>
                    <option>Audit</option>
                    <option>Error</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="col-md-4  label-col">
                <label for="txt-content">Content</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="" id="txt-content" class="form-control" />
            </div>
        </div>


        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-primary">Query</button>
            <button type="button" class="btn btn-default">Export</button>
        </div>
    </div>

    <div class="resultContainer" style="margin-top: 20px; margin-left: 40px; margin-right: 60px;">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>
                        #
                    </th>
                    <th>
                        Log Type
                    </th>
                
                    <th>
                        Content
                    </th>
                    <th>Log Time</th>
              <th>Log Operator</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        App
                    </td>
                  
                    <td>
                        Start analyzing possible whitelist data
                    </td>
                    <td>
                        2018-11-16 08:00:24
                    </td>
                  
                    <td>
                        System
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Audit
                    </td>
                   
                    <td>
                        Ban Ip:192.168.2.1, related rate limiting rule: {url: visit.ashx, period: 60, threshold:5}
                    </td>
                    <td>
                        2018-11-16 10:00:51
                    </td>
                    
                    <td>
                        System
                    </td>
                </tr>



            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li>
                    <a href="#">Last Page</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next Page</a>
                </li>
            </ul>
        </div>
    </div>
</div>



