@{
	//Layout = "~/";
}

@*<!DOCTYPE html>

	<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Cloundflare download logs</title>

	</head>
	<body>
		<form>*@
@Styles.Render("~/Content/home.css")
<div class="logContainer">
	<div class="queryContainer">

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-StartTime">Zone Name</label>
			</div>
			<div class="col-md-8">
				<select id="select-zoneName" class="form-control">
					<option>Ent.comm100.com</option>
					<option>Hosted.comm100.com</option>
				</select>
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-StartTime">Start Time</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="startTime" id="txt-StartTime" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4  label-col">
				<label for="txt-StartTime">End Time</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="endTime" id="txt-EndTime" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4  label-col">
				<label for="txt-StartTime">Host</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="host" id="txt-host" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4  label-col">
				<label for="select-Sample">Sample</label>
			</div>
			<div class="col-md-8">
				<select id="select-Sample" class="form-control">
					<option>0.1</option>
					<option>0.01</option>
					<option>1</option>
				</select>
			</div>
		</div>


		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-StartTime">Site Id</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="siteId" id="txt-SiteId" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-URL">URL</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="URL" id="txt-URL" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="select-cacheStatus">Cache Status</label>
			</div>
			<div class="col-md-8">
				<select id="select-cacheStatus" class="form-control">
					<option>unknow</option>
					<option>hit</option>
				</select>
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-ip">IP</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="URL" id="txt-ip" class="form-control" />
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="col-md-4 label-col">
				<label for="txt-ip">Response Status</label>
			</div>
			<div class="col-md-8">
				<input type="text" name="responseStatus" id="txt-responseStatus" class="form-control" />
			</div>
		</div>

		<div class="col-md-4  col-md-offset-4 text-right">
			<button type="button" class="btn btn-primary">Query</button>
			<button type="button" class="btn btn-default">Export</button>		
		</div>
	</div>

	<div class="resultContainer" style="margin-top: 20px; margin-left: 40px; margin-right: 60px;">
		<table class="table table-bordered">
			<thead>
				<tr class="info">
					<th>
						#
					</th>
					<th>
						Client Request Host
					</th>
					<th>
						Client IP
					</th>
					<th>
						Client Request URL
					</th>
					<th>Cache Response Status</th>
					<th>Response Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						1
					</td>
					<td>
						host.comm100.com
					</td>
					<td>
						192.168.1.1
					</td>
					<td>
						/chatserver/livechat.ashx?siteId=1000260
					</td>
					<td>
						Hit
					</td>
					<td>
						200
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						host.comm100.com
					</td>
					<td>
						192.168.2.1
					</td>
					<td>
						/ticketapi/api/v1/ticket/tickets/283230?siteId=137448
					</td>
					<td>
                        Unknow
					</td>
					<td>
                        401
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						ent.comm100.com
					</td>
					<td>
						192.168.3.8
					</td>
					<td>
						/chatserver/livechat.ashx?siteId=1000306
					</td>
					<td>
                        Unknow
					</td>
					<td>
                       501
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						ent.comm100.com
					</td>
					<td>
						193.155.3.8
					</td>
					<td>
						/LiveChatReport/LiveChatNewReportHandler.ashx?getData=1&currentTime=1542276334090&SiteId=229301
					</td>
					<td>
						Hit
					</td>
					<td>
                       200
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						ent.comm100.com
					</td>
					<td>
						192.168.5.8
					</td>
					<td>
						/AdminManage/AdminPanel/operatoravatarforvm.aspx?siteId=224960&operatorId=69&v=636778442740920861
					</td>
					<td>
                        Hit
					</td>
					<td>
                        200
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
			<ul>
				<li>
					<a href="#">Last Page</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next Page</a>
				</li>
			</ul>
		</div>
	</div>
</div>
@*</form>

	</body>
	</html>*@
