@{
	//Layout = "~/";
}

@*<!DOCTYPE html>

	<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Cloundflare download logs</title>

	</head>
	<body>
		<form>*@
@Styles.Render("~/Content/home.css")
<div class="logContainer">
	<div class="queryContainer form-horizontal" style="margin-top: 10px;">
		<div class="row">
			<div class="col-lg-3 col-sm-4 col-xs-6 form-group">
				<div class="col-md-3"><label for="exampleInputName2">Name</label></div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
				</div>
			</div>
			<div class="col-lg-3 col-sm-4  col-xs-6  form-group">
				<div class="col-md-3"><label for="exampleInputName2">Name</label></div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="exampleInputName3" placeholder="Jane Doe">
				</div>
			</div>
			<div class="col-lg-3 col-sm-4  col-xs-6 form-group">
				<div class="col-md-3"><label for="exampleInputName2">Name</label></div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="exampleInputName4" placeholder="Jane Doe">
				</div>
			</div>
			<div class="col-lg-3 col-sm-4   col-xs-6 form-group">
				<div class="col-md-3"><label for="exampleInputName2">Name</label></div>
				<div class="col-md-9">
					<input type="text" class="form-control" id="exampleInputName5" placeholder="Jane Doe">
				</div>
			</div>
		</div>
	</div>
</div>