
@{
    //Layout = "~/";
}

@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div class="logContainer">
    <div class="queryContainer">
        <ol class="breadcrumb">
            <li class="active">Rate limiting Rule Manage</li>
        </ol>
        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="select-zoneName">Zone Name</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("select-zoneName", new SelectList(ViewBag.ZoneList, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="txt-StartTime">Start Time</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="startTime" id="txt-StartTime" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4  label-col">
                <label for="txt-EndTime">End Time</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="endTime" id="txt-EndTime" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4  label-col">
                <label for="txt-url">URL</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="url" id="txt-url" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4 form-group  text-right">
            <button type="button" id="queryRateLimit" class="btn btn-primary">Query</button>
            @{
                if (ViewBag.IsAdmin)
                {
                    <a href="~/Home/AddRateLimiting" class="btn btn-default">Add New</a>
                }
            }
        </div>
    </div>

    <div class="resultContainer" style="margin-top: 20px; margin-left: 40px; margin-right: 60px;">
        <table id="rateLimitingTable" class="table table-bordered"></table>
    </div>
</div>

<script type="text/javascript">
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#rateLimitingTable').bootstrapTable({
                url: '/Home/GetRateLimiting',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: false,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
               // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                // uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                //showExport: true,
                //exportDataType: 'all',
                columns: [{
                    field: 'ID',
                    title: '#',
                    //formatter: function (value, row, index) {
                    //    return index + 1;
                    //}
                }, {
                        field: 'Period',
                        title: 'Period'
                }, {
                        field: 'Threshold',
                        title: 'Threshold'
                }, {
                        field: 'Url',
                        title: 'URL'
                }, {
                        field: 'OrderNo',
                        title: 'Order'
                    }, {
                        field: 'EnlargementFactor',
                        title: 'Enlargement Factor'
                    }, {
                        field: 'RateLimitTriggerIpCount',
                        title: 'Rate Limiting Trigger Ip Count'
                    }, {
                        field: '',
                        title: 'Operation',
                        events: function () {

                        },
                        formatter: function (value, row, index) {
                            var btnEdit = '<a href="/home/EditRateLimiting?id=' + row.TableID + '" class="rate-edit " ><span class="glyphicon glyphicon-edit btn-in-table" aria-hidden="true" title="Edit"></span></a>';
                            var btnDelete = '<a href="/home/DeleteRateLimiting?id=' + row.TableID + '&order=' + row.OrderNo + '" class="rate-delete " ><span class="glyphicon glyphicon-trash btn-in-table" aria-hidden="true" title="Delete"></span></a>';
                            var btnUp = '<a href="/home/EditRateLimitingOrder?actionb=1&id=' + row.TableID + '&order=' + row.OrderNo + '" class="rate-up " ><span class="glyphicon glyphicon-arrow-up btn-in-table" aria-hidden="true" Title="Down"></span></a>';
                            if (row.OrderNo === 1) {
                                btnUp = '';
                            }
                            var btnDown = '<a href="/home/EditRateLimitingOrder?actionb=2&id=' + row.TableID + '&order=' + row.OrderNo + '" class="rate-down" ><span class="glyphicon glyphicon-arrow-down btn-in-table" aria-hidden="true"></span></a>';
                            if (row.OrderNo === @ViewBag.MaxOrder) {
                                btnDown = '';
                            }
                            return btnEdit + btnDelete + btnUp + btnDown;
                        },
                        visible: '@ViewBag.IsAdmin' == 'True'
                    }, {
                        field: 'TableID',
                        visible: false
                    }
                ]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {

            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                zoneID: $("#select-zoneName").val(),
                startTime: $("#txt-StartTime").val(),
                endTime: $("#txt-EndTime").val(),
                url: $("#txt-url").val(),
            };
            return temp;
        };
        return oTableInit;
    };
    var oTable = new TableInit();
    $(document).ready(function () {

        oTable.Init();
    });

    $("#queryRateLimit").click(function () {
        $('#rateLimitingTable').bootstrapTable('refresh');
    });

    //$('#export').click(function () {
    //    var para = oTable.queryParams({limit: 10,offset:0});
    //    var uuu = "/home/ExportAuditLog?zoneID=" + para.zoneID + "&startTime=" + para.startTime + "&endTime=" + para.endTime + "&logType=" + para.logType + "&detail=" + para.detail;
    //    $('#export').attr("href", uuu);
    //    //$.get(uuu);
    //});
</script>



