@{
    //Layout = "~/";
}

@Styles.Render("~/Content/home.css")
<div class="logContainer">
    <div class="queryContainer">
        <ol class="breadcrumb">
            <li class="active">Zone Manage</li>
        </ol>
        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="zoneName">Zone Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="zoneName" id="zoneName" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-4 label-col">
                <label for="zoneID">Zone ID</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="zoneID" id="zoneID" class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="" /> If Test
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" /> If Enable
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 form-group col-md-offset-8" style="text-align: right">
            <button type="button" class="btn btn-primary">Query</button>
            <a href="~/Home/AddZone" class="btn btn-default">Add New</a>
        </div>
    </div>

    <div class="resultContainer">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>
                        #
                    </th>
                    <th>
                        Zone ID
                    </th>
                    <th>
                        Zone Name
                    </th>
                    <th>
                        Auth Email
                    </th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        258
                    </td>
                    <td>
                        peek
                    </td>
                    <td>
                        test@sss.com
                    </td>
                    <td>
                        <input class="" type="checkbox" name="o-iftest" />
                        <input class="" type="checkbox" name="o-ifenable" />
                        <a href="javescript:void(0);">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        258
                    </td>
                    <td>
                        peek
                    </td>
                    <td>
                        test@sss.com
                    </td>
                    <td>
                        <input class="" type="checkbox" name="o-iftest" />
                        <input class="" type="checkbox" name="o-ifenable" />
                        <a href="javescript:void(0);">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li>
                    <a href="#">Last Page</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next Page</a>
                </li>
            </ul>
        </div>
    </div>
</div>



