@{ 
    var ex = ViewData.FirstOrDefault().Value as Exception;
}

@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div class="logContainer">
    <h2>Oops! Something was wrong</h2>
    <div style="margin-top: 30px;font-size: 16px;">@ex.Message</div>
    <div style="margin-top: 30px;">@ex.StackTrace</div>
    @*<div style="background-image: url(../Images/timg2.jpg);width: 100%;flex-grow: 1;background-size: cover;"></div>*@
</div>
