@{ 
    var ex = ViewData.FirstOrDefault().Value as Exception;
}

@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div class="logContainer">
    <h2>Oops! Something was wrong</h2>
    <div style="margin-top: 30px;">@ex.Message</div>
    @*<div>@ex.StackTrace</div>
    <div>@ex.Source</div>*@
</div>
