<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ERROR" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="ERROR" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
    <add key="quartz.serializer.type" value="binary"/>
    <!--******************************Plugin配置*********************************************-->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin,Quartz.Plugins"/>
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml"/>
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=comm100apitest.cloudapp.net,1000;Initial Catalog=lizz.General;User ID=sqluser;Password=A2Kdse9sdf(" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FilterSuffixList" value="bmp,ejs,jpeg,pdf,ps,ttf,class,eot,jpg,pict,svg,webp,css,eps,js,pls,svgz,woff,csv,gif,mid,png,swf,woff2,doc,ico,midi,ppt,tif,xls,docx,jar,otf,pptx,tiff,xlsx"/>
    
    <add key="MailServer" value="216.157.88.107"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailServerIfAuthentication" value="true"/>
    <add key="MailServerIfSSL" value="false"/>
    <add key="MailServerTimeout" value="500000"/>
    <add key="MailServerUserName" value="service"/>
    <add key="MailServerPassword" value="wofEdHoRM81p56PreCP9RA=="/>
    <add key="MailServereNickName" value="Comm100 Attack Prevent"/>
    <add key="MailServereFrom" value="service@ekaygreen.com"/>
  </appSettings>
</configuration>
