<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=comm100apitest.cloudapp.net,1000;Initial Catalog=lizz.General;User ID=sqluser;Password=A2Kdse9sdf(" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FilterSuffixList" value="bmp,ejs,jpeg,pdf,ps,ttf,class,eot,jpg,pict,svg,webp,css,eps,js,pls,svgz,woff,csv,gif,mid,png,swf,woff2,doc,ico,midi,ppt,tif,xls,docx,jar,otf,pptx,tiff,xlsx"/>
  </appSettings>
</configuration>
